.trainWrapper {
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;

  .appHeading {
    font-size: 1.75rem;
    text-align: center;
  }

  .inputContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 768px) {
    .inputContainer {
      flex-direction: column;
    }
  }

  .searchButton {
    background-color: var(--red);
  }
}
