.trainTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;

  thead {
    background-color: var(--red);
    color: #fff;
    text-align: left;

    th {
      padding: 12px 16px;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dee2e6;

      &:nth-child(even) {
        background-color: #f1f3f5;
      }

      &:hover {
        background-color: #e9ecef;
      }

      td {
        padding: 10px 16px;
        text-align: left;
        white-space: wrap;
      }
    }
  }

  .onTime {
    color: var(--green);
    font-weight: bold;
  }

  .delay {
    color: var(--red);
    font-weight: bold;
  }

  .minWidth {
    min-width: 65px;
  }

  @media screen and (max-width: 768px) {
    .notOnMobile {
      display: none;
    }
    .mobileMaxWidth {
      max-width: 50px;
      overflow: hidden;
    }
  }
}
